<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>StoreFront</title>
	<link rel="stylesheet" href="/css/navbar.css">
	<link rel="stylesheet" href="/css/shop.css"> <!-- Page Specific -->
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,700;1,400&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" 		crossorigin="anonymous">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">
</head>

<body>
	
<%- include("partials/Navbar") %>	
	
	<div class="container shop-container">	
	
		<div class="row">
			<% Item.forEach((i) => { %>
			<div class="col-sm-6 col-md-4 col-lg-3">
				
				<div class="item-card">		
					
					<div class="item-header text"><%= i.brand %> 
						<div><%= i.title %></div>
					</div>					
					
					<div class="item-image"><img src="<%= i.image %>" class="item-image " alt="Item Image"></div>
					
			    </div>
				
					<div class="item-price text">$ <%= i.price %> <a href="/cart"><i class="fas fa-shopping-cart"></i></a></div>
					<div class="item-desc text"><%= i.description %></div>
				
			</div>
			<% }); %>
		</div>
	
	</div>



<%- include("partials/footer") %>